*.csv
*.pdf
*.png
*.jpg
*.epf
*.json
.*
random_sampling/*.csv
dataset_preparation/feature_extraction/boxplot_4_feat/
dataset_preparation/feature_extraction/eda_multiplescatter/
dataset_preparation/feature_extraction/Investigate/
dataset_preparation/feature_extraction/VT_lim/
dataset_preparation/feature_extraction/*.csv
dataset_preparation/feature_extraction/*.pdf 
dataset_preparation/feature_extraction/*.png
dataset_preparation/merge_csv/merge/
dataset_preparation/merge_csv/*.csv
dataset_preparation/scripts_avro/folder_intersect_202000109/
dataset_preparation/scripts_avro/OI_folder/
dataset_preparation/scripts_avro/OI_tar/
dataset_preparation/scripts_avro/*.json
dataset_preparation/scripts_avro/*.csv
dataset_preparation/scripts_vt/*.csv
clustering/anal_clusters/centroid/
clustering/anal_clusters/investigate/
clustering/anal_clusters/VT_*/
clustering/anal_clusters/pca/
clustering/anal_clusters/FIGS_*/
clustering/dbscan/dbscan_*/
clustering/dbscan/u1m_*/
clustering/dbscan/img_loop_statdbscan/
clustering/dbscan/knn/
clustering/kmeans/kmeans_*/
clustering/pca/pca_*/
clustering/pca/img/
clustering/pca/dbscan_*/
clustering/hdbscan/10*/

